*{
    margin: 0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color:#fff;
    min-height:100vh;
    padding-top: 4%;
    padding-left: 10%;
}
.container h1{
    color:#fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    text-align: center;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 20px;
    margin-right: 10px;
}
.container button{
    background: linear-gradient(#9418fd,#571094);
    color:#fff;
    border-radius: 40px;
    padding:15px 25px;
    margin:30px 0 20px;
    border: 0;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
}
.input-box{
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color:#333;
    padding: 20px;
    margin: 20px 0;
    outline: none ;
    border-radius: 5px;
    position: relative;
}
.input-box img{
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

