*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",serif;
    box-sizing: border-box;
}
body{
    background: #bbc6fa;
}
.box-container{
    background: #fff;
    width: 700px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    position: absolute;
    text-align: center;
    padding: 40px;
    box-shadow: 0 10px 20px 0px rgba(122, 111, 111, 0.15);
}
.box-container h1{
    font-size: 32px;
    margin-bottom: 25px;
    position: relative;
}
.box-container h1::after{
    content: ' ';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23,123,229);
    position: absolute;
    bottom: -10px;
    left: 45%;
    transform: (-45%);
}
.box-container blockquote{
    font-size: 16px;
    font-weight: 600; 
    padding-bottom: 40px;

}
.box-container blockquote::before,.box-container blockquote::after{
    content: '"';
}
.box-container span{
    position: relative;
    margin-top: 10px;
    float: right;
    display: block;
}
.box-container span::before{
    content: '';
    width: 15px;
    height: 2px;
    background:rgb(23,124,229);
    position: absolute;
    top:50%;
    left:-30%
}
.box-container div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.box-container button{
    background: rgb(23,124,229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(12,124,229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

