*{
    margin: 0;
    padding: 0;
}
body{
   background-color: darkgray;
   text-align: center;
}
h2{
    color: blue;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.3);
    justify-content: center;
    align-items: center;
}
.rst{
    background-color: aqua;
    color: blue;
    padding: 1rem;
    font-size: 5vmin;
    border-radius: 1rem;
}
.newgame{
    background-color: aqua;
    color: blue;
    padding: 1rem;
    font-size: 5vmin;
    border-radius: 1rem;
}
#msg{
    font-size: 7vmin;
    color: blue;
}
.hide{
    display: none;
}
.msg-container{
    height: 40vmin;
}